body,
#root {
  background-color: rgba(153, 205, 50, 0.623);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto Mono", serif !important;
  color: #000 !important;
}
.contenedorNavBar {
  background-color: #fd7e14;
}
.navHome {
  width: 7%;
}
.imgLogo {
  width: 6.5rem;
  height: auto;
  object-fit: cover;
  border-radius: 20%;
}
#cards {
  justify-content: space-between;
}
.navbar {
  font-size: 2rem; /* Ajusta el tamaño según necesites */
  font-weight: bold; /* Hace que se vea más similar a los dropdowns */
  color: #000 !important; /* Asegura que el color sea igual */
  font-family: "Roboto Mono", serif;
  font-weight: 1000;
  font-style: normal;
}

.card img {
  width: 286px;
  height: 286px;
}
.card-title.h5 {
  color: black;
}

.btn.btn-orange {
  background-color: #fd7e14;
  border-color: black;
  color: black;
}
.btn.btn-orange:hover {
  background-color: yellowgreen;
  border-color: black;
  color: black;
}

.cardStyle {
  border: 2px solid #fd7e14 !important;
  width: 18rem !important;
  margin-top: 15px !important;
  height: 100% !important;
  margin-left: 10px !important;
}
