h1 {
  background-color: aqua;
  padding: 25px;

  color: blueviolet;
}
.contenedorNavBar {
  background-color: greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.navHome {
  font-weight: bolder;
}
